@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input-next {
    @apply text-center border-4 border-next-500 flex items-center w-full max-w-[340px] px-5 py-3 m-auto text-sm font-medium
                    outline-none placeholder:text-gray-700 text-gray-900 rounded-full
                     focus:border-next-500 focus:ring-0;
}

.form-input-next:focus {
    box-shadow: 0 0 5px #0fb9b9 !important;
}

[x-cloak] {
    display: none;
}

.progress {
    animation: progress;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes progress {
    0% {
        width: 0%;
    }
    90% {
        /* opacity: 0; */
        width: 100%;
    }
}

.pulse {
    animation: pulse;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        opacity: 0.04;
    }
    1% {
        opacity: 0.07;
    }
    2% {
        opacity: 0.10;
    }
    3% {
        opacity: 0.13;
    }
    4% {
        opacity: 0.16;
    }
    5% {
        opacity: 0.19;
    }
    10% {
        opacity: 0.22;
    }
    15% {
        opacity: 0.25;
    }
    20% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.5;
    }
    30% {
        opacity: 0.7;
    }
    35% {
        opacity: 1;
    }
    95% {
        opacity: 0.45;
    }
    96% {
        opacity: 0.40;
    }
    97% {
        opacity: 0.35;
    }
    98% {
        opacity: 0.30;
    }
    99% {
        opacity: 0.25;
    }
}

.helvetica {
    font-family: "Helvetica Neue", sans-serif;
}
